.topnav {
  background-color: black;
  position: fixed;
  top: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
}

.topnav .links {
  max-width: 900px;
  margin: 0 auto;
  transition: color 0.3s;
}

.topnav a {
  color: rgba(170, 170, 170);
  margin: 0 15px;
}

.topnav a.active,
.topnav a:hover {
  color: rgb(255, 255, 255);
}

a {
  color: inherit;
  text-decoration: none;
}

.story {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.story .num {
  color: rgb(130, 130, 130);
  margin-right: 10px;
  font-size: 24px;
}

.story .header {
  font-size: 20px;
}

.comment {
  margin: 15px auto;
  position: relative;
  left: 15px;
}

.app {
  min-height: 100vh;
  transition: color 0.2s, background-color 0.2s;

  color: rgb(30, 30, 30);
  background-color: white;
}

.router {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 60px;
}
