* {
  box-sizing: border-box;
  outline: none;
}

.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: white;
  z-index: 100;
  border-right: 1px solid #ddd;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.nav-router a {
  display: block;
  font-size: 18px;
  padding: 0 15px;
  margin: 15px 0;
  text-decoration: none !important;
  color: inherit;
  transition: color 0.2s ease-in-out;
  line-height: 1.2;
}

.nav-router a:hover:not(.active) {
  color: #0366d6;
}

.nav-router a.active {
  border-left: 5px solid #0366d6;
  padding-left: 10px;
}

.app {
  margin-top: 60px;
}

.page {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  overflow: scroll;
  z-index: 100;
  background-color: #24292e;
  height: 50px;
}

.navbar {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
}

.topbar a {
  display: inline-block;
  color: lightgray;
  text-decoration: none !important;
  transition: color 0.2s ease-in-out;
  text-align: center;
  vertical-align: top;
  line-height: 46px;
  margin: 0 10px;
  padding: 0 10px;
  font-size: 16px;
}

.topbar a:hover {
  color: white;
}

.topbar a.active {
  color: white;
  border-bottom: 4px solid #0366d6;
}

#chat-toggle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #24292e;
  color: white;
  cursor: pointer;
}

.gitter-chat-embed {
  border-left: 1px solid #ddd;
  box-shadow: none;
  transition: transform 0.2s ease-in-out;
  top: 50px;
}

.sidebar-toggle {
  position: fixed;
  left: 12px;
  top: 12px;
  cursor: pointer;
  font-size: 25px;
  color: white;
  z-index: 100;
}

.github-icon {
  position: fixed;
  right: 20px;
  top: 10px;
  cursor: pointer;
  font-size: 30px;
  color: white;
  z-index: 100;
  transition: transform 0.2s;
}

.github-icon:hover {
  transform: scale(1.1);
}
