* {
  box-sizing: border-box;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.gitter-chat-embed {
  top: 50px;
  box-shadow: none;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-left: solid 1px lightgray;
}
